#navbar, h1, h2 {
  font-family: 'DM Mono', san-serif;
   text-align: center;
  padding: 10px;
}

#navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

#home, #projects, #contact {
   width: 100%;
  text-align: center;
}

#home {
  background-color: #DFEFE3; 
  padding-top: 290px;
  margin-top: 0px;
  display: block;
  height: 90vh;
  font-size: 600px;
}

.title {
  padding-top: 50px;
  font-size: 45px;
}

.grid-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(3, 1fr)); 
}

.box > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.box {
  background: gray;
  padding: 1rem;
  height: 12rem;
}

.zone:hover {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:  3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#contact {
  padding: 10px;
 background-color: #DFE6EF;
  font-size: 20px;
}

#contact-link {
  width: 30px;
  margin: 5px;
}

blockquote {
  font-size: 12px;
}

@media (min-width: 900px) {
  .zone {grid-template-columns: repeat(3, 1fr); }
}

@media screen and (max-width: 600px) {
  .zone {
    width: 100%;
  }
}